#contact_modal {
  display: none;
}

.photographHeader {
  background-color: #fafafa;
  height: 170px;
  margin: 50px;
  padding: 10px 50px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.photographerHeaderInfo {
  display: inline-block;
  text-align: left;
}

.photographerHeaderInfo article {
  height: 170px;
  flex-direction: column;
}

.photographerHeaderInfo h1 {
  color: #d3573c;
  font-size: 30px;
  margin: 0px;
  padding-top: 10px;
}

.photographerHeaderInfo h2 {
  margin-top: 20px;
}

.photographerHeaderInfo h3 {
  margin-top: 20px;
}

.priceAndTotalLikesSidebar {
  display: flex;
  justify-content: space-between;
  background-color: #db8876;
  position: sticky;
  width: 300px;
  bottom: 0px;
  left: 75vw;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 20px 10px 20px;
}

.photographerPrice {
  font-size: 24px;
}

.blackHeart {
  display: flex;
  width: 16px;
  margin-left: 5px;
}

.totalLikes {
  font-size: 24px;
}

.likesAndHeart {
  display: flex;
}

.photographerHeaderPortrait {
  text-align: end;
}

.photographerHeaderPortrait img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100px;
}

.contactButton,
.dropdownList {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 60px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.dropdownSection {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin: 50px;
}

.dropdownList {
  margin-left: 20px;
}

.filterChoice {
  border-top: 1px solid white;
  font-weight: bold;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal header {
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  color: #000000;
  font-size: 40px;
  font-weight: normal;
}

.contact_button {
  all: unset;
  background-color: #901C1C;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: #fafafa;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.mediaSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}

.mediaSection article {
  margin: auto;
  width: 350px;
}

.media {
  height: 300px;
  object-fit: cover;
  border-radius: 2%;
  width: 100%;
}

.likeBox {
  display: flex;
  flex-wrap: wrap;
}

.textBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 5px;
  align-items: center;
}

.heart {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.mediaTitle {
  font-size: 21px;
}

.numberLikesBlack {
  color: #312e2e;
  font-size: 17px;
}

.numberLikesRed {
  color: #901c1c;
  font-weight: bold;
  font-size: 20px;
}

.lightboxSection {
  display: none;
  width: 100%;
  margin-top: 2%;
  align-items: center;
  justify-content: space-around;
}

#lightboxVisualBox {
  width: 80%;
  text-align: center;
}

#lightboxMedia {
  width: 80%;
  height: 90vh;
  object-fit: cover;
}

.prevButton,
.nextButton {
  cursor: pointer;
}

.prevButton {
  position: absolute;
  left: 10%;
}

.nextButton {
  position: absolute;
  right: 10%;
}

.closeLightbox {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 10%;
}
